// FOOTER :: START
footer
  .container-fluid
    .row
      .footer-bg-top
      .col-lg-4.col-md-6
        .mini__content.mini__content--phone
          p По всем вопросам обращаться по телефону
          a(href='tel:+74956498637') 8 (495) 649-86-37
        .mini__content.mini__content--mail
          p Электронная почта
          a(href='mailto:editor@miceandmore.org') editor@miceandmore.org
        .mini__content
          p Facebook
          a(href='#' target="_blank") miceandmorerus
      .col-lg-4.col-md-6
        .mini__content.mini__content--street
          p Физичиеский и юридический адрес
          span
            | 125 009, Москва,
            br
            | Н. Кисловский пер. 7 стр. 1, офис 317
        .mini__content.mini__content--licence
          p Номер лицензии
          span  No ПИ No ФС 77 – 62901
      .col-lg-4.col-md-12
        .mini__content.mini__content--design
          p Дизайн и печать журнала
          a(href='#') Prime Time. Events. Design. Communications
        .mini__content.mini__content--design
          p Создание сайта
          a(href='http://glyf.ru' target="_blank") GLYF
        hr
        span.copiright © 2017 MICE&more
// FOOTER :: END
