// FOOTER :: START
footer
  .container-fluid
    .row
      .footer-bg-top
      .col-lg-4.col-md-6
        .mini__content
          p.footer__title По всем вопросам обращаться по телефону
          a.footer__link.phone(href='tel:+74956498637') 8 (495) 649-86-37
        .mini__content
          p.footer__title Электронная почта
          a.footer__link.footer__link--mail(href='mailto:editor@miceandmore.org') editor@miceandmore.org
        .mini__content
          p.footer__title Facebook
          a.footer__link(href='#' target="_blank") miceandmorerus
      .col-lg-4.col-md-6
        .mini__content
          p.footer__title Физичиеский и юридический адрес
          span.footer__link.street
            | 125 009, Москва,
            br
            | Н. Кисловский пер. 7 стр. 1, офис 317
        .mini__content.mini__content--licence
          p.footer__title Номер лицензии
          span.footer__link  No ПИ No ФС 77 – 62901
      .col-lg-4.col-md-12
        .mini__content
          p.footer__title Дизайн и печать журнала
          a.footer__link.design(href='#') Prime Time. Events. Design. Communications
        .mini__content
          p.footer__title Создание сайта
          a.footer__link.design(href='http://glyf.ru' target="_blank") GLYF
        hr
        span.copiright © 2017 MICE&more
      
// FOOTER :: END
