// HEADER .menu
.menu
  .menu__control(js-toggleMenu)
    .menu__control__burger
      .menu__control__burger__item
      .menu__control__burger__item
      .menu__control__burger__item
    a.menu__control__click МЕНЮ
  a.menu__switch-lang(href='#') EN
  a(href="homepage.html").menu__logo
    img(src='img/setting/logo.svg', alt='')
