// MENU
.menu-box
  .menu-box__close-button(js-toggleMenu)
    img(src='img/setting/navi_close.svg', alt='')
  .menu-box__spoiler
    h3 Темы
    .menu-box__spoiler__content
      a(href='#') Темы недели
      a(href='#') События
      a(href='#') Интервью
      a(href='#') Экспертный совет
  .menu-box__spoiler
    h3 Видео
  .menu-box__spoiler
    h3 Команда
  .menu-box__spoiler
    h3 Контакты
    
