// MENU
.menu-box
  .menu-box__close-button(js-toggleMenu)
    img(src='img/setting/navi_close.svg', alt='')
  .menu-box__spoiler
    h3 Темы
    .menu-box__spoiler__content
      a(href='articles.html') Темы недели
      a(href='articles.html') События
      a(href='articles.html') Интервью
      a(href='articles.html') Экспертный совет
  a(href='video.html').menu-box__spoiler
    h3 Видео
  a(href='team.html').menu-box__spoiler
    h3 Команда
  a(href='contact.html').menu-box__spoiler
    h3 Контакты
    
