// PRELOADER :: START
.preloader
  .text
    h3 Издание №1 для российских MICE-специалистов

script.
  window.paceOptions = {
    ajax: false,
    restartOnPushState: false,
    elements: {
      selectors: ['footer, .menu']
    }
  }
script(src='/pace.min.js')
script.
  Pace.on('done', function(){
    document.querySelector('.preloader').setAttribute('style', 'opacity: 0');
    document.querySelector('.menu__control').setAttribute('style', 'display: inline-block');
    document.querySelector('.menu__switch-lang').setAttribute('style', 'display: inline-block');
    setTimeout("document.querySelector('.page').classList.add('animated_load');", 300);
    // setTimeout(  "document.querySelector('.preloader').setAttribute('style', 'display: none');", 300);
  })
