---
title: 404 - MICE
bodyClass: 404
---
extends shared/_layout
block content
  
  div(style="display: flex; align-items: center; justify-content: center; height: 100vh")
    h1 Зе пейдж из нот фаунд !!
