---
title: ARTICLES - MICE
bodyClass: articles-page
---
extends shared/_layout
block content
  
  // BREADCRUMBS
  .breadcrumbs
    a.breadcrumbs__link.is-active(href="homepage.html") Главная
    a.breadcrumbs__link(href="#") Темы
    a.breadcrumbs__link(href="#") Интервью
    
  // ARTICLES SECTION
  section.articles-sec#weekly
    .container-fluid
      h2 Интервью
      .row
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src='img/weekly/1.png')
            .weekly__week__properties
              span.data 30 октября
            a.weekly__week__content(href='post.html')
              h4 Провокация — прекрасная начинка для рекламной кампании
              p
                | На этапе разработки плана продвижения компании сроком на год или сезон от меня зависят стратегические решения
                | в области позиционирования и партнерства, которые в моих силах правильно преподнести генеральному руководству.
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src='img/weekly/2.png')
            .weekly__week__properties
              span.data 27 октября
            a.weekly__week__content(href='post.html')
              h4 Хайп. Триггеры. Тотальная визуализация. А на что способна ваша площадка?
              p
                | При разработке креативной концепции проекта команда организаторов хотела уйти от привычных для DTM стандартных
                | конструкций и предложить клиенту что-то яркое, необыкновенное и надолго запоминающееся. На огромную, собранную
                | из множества линий крышу.
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src='img/weekly/3.png')
            .weekly__week__properties
              span.data 26 октября
            a.weekly__week__content(href='post.html')
              h4 «Мной всегда двигала жажда быть впереди»
              p
                | Приехав в Петербург в 2009, она продолжила постигать искусство преображения пространств и следовать курсу,
                | который выбрала еще в юности. Являясь сегодня соучредителем и арт-директором компании LABORATORY, одной
                | из лучших дизайн-студий, работающих в сегменте «премиум», наш герой придерживается внутренних правил.
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src='img/weekly/4.png')
            .weekly__week__properties
              span.data 30 октября
            a.weekly__week__content(href='post.html')
              h4 Идеальное корпоративное событие, или как #успетьвсе?
              p
                | Краткосрочное планирование — это что-то наше очень национальное, как мне кажется. Сейчас ситуация становится
                | немного лучше, так как бизнес адаптировался под обновленные условия после кризиса, скорректировал задачи
                | и вошел в нормальный ритм.
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src='img/weekly/5.png')
            .weekly__week__properties
              span.data 19 октября
            a.weekly__week__content(href='post.html')
              h4 MICE&more — журнал для русскоязычных MICE специалистов и о них самих
              p
                | Российский MICE рынок давно вышел за границы своей страны и добрался до самых экзотических и далеких точек
                | нашего земного шара. Задачей журнала MICE&more является помощь в развитии рынка, его профессиональном образовании
                | и совершенствовании. Наши читатели всегда будут в курсе актуальных событий.
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src='img/weekly/6.png')
            .weekly__week__properties
              span.tag Спецпредложения
            a.weekly__week__content(href='post.html')
              h4 MICE&more — журнал для русскоязычных MICE специалистов и о них самих
              p
                | Российский MICE рынок давно вышел за границы своей страны и добрался до самых экзотических и далеких точек
                | нашего земного шара. Задачей журнала MICE&more является помощь в развитии рынка, его профессиональном образовании
                | и совершенствовании. Наши читатели всегда будут в курсе актуальных событий.
                
      // PAGINATION
      .page-pagination
        a.page-pagination__more.btn(href="#") Загрузить еще
          .item
          .item
          .item
          .item
        a.page-pagination__page.btn.is-active(href="#") 1
          .item
          .item
          .item
          .item
        a.page-pagination__page.btn(href="#") 2
          .item
          .item
          .item
          .item
        a.page-pagination__page.btn(href="#") 3
          .item
          .item
          .item
          .item
        a.page-pagination__page.btn(href="#") ...
          .item
          .item
          .item
          .item
        a.page-pagination__page.page-pagination__next.btn(href="#") 
          .item
          .item
          .item
          .item
          +icon('ico-arrow-right')
