---
title: POST - MICE
bodyClass: articles-page one-article-page
---
extends shared/_layout
block content
  
  
  // BREADCRUMBS
  .breadcrumbs
    a.breadcrumbs__link.is-active(href="homepage.html") Главная
    a.breadcrumbs__link(href="#") Темы
    a.breadcrumbs__link.is-active(href="#") Интервью
    a.breadcrumbs__link(href="#") Хайп. Триггеры. Тотальная визуализация. А на что способна ваша площадка?
    
  // ONE ARTICLE SECTION
  .one-article
    .one-article__category
      span Интервью
    span.one-article__date 27 октября
    h1 Хайп. Триггеры. Тотальная визуализация. А на что способна ваша площадка?
    .one-article__wrap
      a.one-article__prev(href="#") Предыдущий материал
      img(js-lazy data-src="img/promo.jpg")
      a.one-article__next(href="#") Следующий материал
    span.one-article__short При разработке креативной концепции проекта команда организаторов хотела уйти от привычных для DTM стандартных конструкций и предложить клиенту что-то яркое, необыкновенное и надолго запоминающееся. На огромную, собранную из множества линий крышу.
    h2 Кейс
    p Чтобы усилить вовлеченность сотрудников и зарядить их энергией большого футбола, агентством было предложено и в последующем реализовано два ключевых решения. Турнир приобрел «лицо» в виде официального маскота — львенка Альфёнка. Все ключевые сообщения получили визуализацию, и таким образом турнир «Лига Альфа» вышел на новый уровень и стал суббрендом в корпоративной культуре «Альфа-Банка».
    p Агентство привнесло в турнир современные коммуникации: диджитал-активации, специально подготовленный видеоконтент, декорации, интерактивные зоны и даже детские локации — все они были сделаны и для игроков, и для членов их семей, которые приехали болеть за любимых.
    p Организовали прямую трансляцию гранд-финала на всю страну. Все, кто не смог лично присутствовать на стадионе, слушали прямой эфир интернет-радио. Это позволило стереть географические границы и окунуть более 6000 человек в единое футбольное движение.
    .one-article__slider
      .one-article__slide
        img(js-lazy data-src="img/slide1.jpg")
        figcaption
          span Марта Рослер. Photo Op. 2004 Фотомонтаж. Courtesy автор и Mitchell-Innes & Nash, Нью-Йорк
      .one-article__slide
        img(js-lazy data-src="img/slide1.jpg")
        figcaption
          span Марта Рослер. Photo Op. Дальше идет какой-то совершенно другой текст
    h2 Вопрос-ответ
    h3 — То есть можно считать, что формат — это один из инструментов креатива?
    p — Конечно, да. В случае Redday не всегда результатом креатива становится event. Иногда результатом становится отговаривание клиента от event’а. То есть бывает так, что мы получили бриф, ушли, подумали, вернулись и сказали, что клиенту мероприятие не нужно.
    h3 — Креативные методики Redday — поделись экспертизой и опытом. Раскрой механику создания концепций и интеграцию в проекты по пунктам.
    p — В принципе, креативные методики едины. Это и метод Диснея, когда креатор пребывает в трех суперпозициях. Начинает романтиком-мечтателем, продолжает реалистом и заканчивает скептиком. Прогоняет одну и ту же концепцию в разных ролях. Или методика из серии фантастики — например, менторская техника, — креатор представляет себя целевой аудиторией. Правда, эта техника слишком долгая для event’ов, поскольку в нашей сфере бешеный ритм и не всегда есть возможность ее использовать. Однако, она эффективная. Когда мы придумывали мероприятие для презентации сети французских отелей Club Med в 2015 году в резиденции посла Франции в Москве, она нам серьезно помогла.
    h3 — Как создать нечто неординарное и быть отличным вас от конкурентов?
    p — Я думаю, что мы все пользуемся одними и теми же техниками, но то, какие из идей мы выбираем и какие именно нам кажутся ценными и интересными, и есть отличие друг от друга, и оно исключительно биологического происхождения, если можно так сказать. На это влияет возраст креатора, место, где он родился и жил, люди, которые его окружали. Это звучит неперспективно с точки зрения ответа на вопрос «Как это развивать в отдельно взятой компании?». Но я себе отвечаю на него так: «Подбирать людей, которые мыслят так же, чтобы получать синергию от этого взаимодействия».
    blockquote  
      span На это влияет возраст креатора, место, где он родился и жил, люди, которые его окружали. Но я себе отвечаю на него так: «Подбирать людей, которые мыслят так же, чтобы получать синергию от этого взаимодействия».
    h3 — Зарубежные практики: за кем в профессиональном плане наблюдаете?
    p — Разведывательная работа равномерно распределена между участниками агентства. В частности, Борис Альхимович, наш управляющий партнер, регулярно приносит какие-нибудь кейсы с мировых премий, с EuBea например. И показывает их на тех же планерках или выкладывает в закрытом корпоративном чате. Это какие-то большие проекты, которые даже не относятся к нашему профилю, и вряд ли мы их когда-нибудь сделаем, служат для нас, скорее, в качестве вдохновения. В креативном отделе с разной степенью интенсивности коллеги постоянно что-то «роют». Лично я не создаю себе ни идолов, ни кумиров. Стараюсь гнуть свою творческую линию.
    h3 — Знаю, что вы делаете упор на корпоративные коммуникации. Подскажите, пожалуйста, ваши креативные решения стандартизированы?
    p — Юбилейное мероприятие QIWI. В этой компании развита культура, которая заявляет, что бывших сотрудников не бывает. Они действительно отличаются большой лояльностью к людям, которые покидают стены компании. Статистически известно, что у них большой возврат, а офис — это место, куда часто приходят друзья сотрудников, бывшие коллеги, чтобы проводить свое личное время.
    p И эта культура — «нет бывших сотрудников QIWI» — была интегрирована в концепцию исполнения нескольких заветных желаний, где среди прочих было первоначальное волеизъявление самих топ-менеджеров, чтобы собраться всем-всем вместе.
    
    // ONE ARTICLE VIDEO
    .one-article__video-sec
      .one-article__video-wrap
        a.one-article__video-btn(js-popupVideo href="https://www.youtube.com/watch?v=6j5t6WjtSfk")
      
      figcaption 
        span Transparent Box, or Vanity Fair. Из серии «Тело прекрасно. Красота не знает боли». 1965–1972. Фотомонтаж. Courtesy автор
        
    // ONE ARTICLE FACTS
    .one-article__facts
      h2 Факты и цифры
      ul
        li Свыше 50 артистов.
        li 35 дней подготовки.
        li 1 специально разработанный фирменный стиль проекта с участием лучших иллюстраторов страны.
        li 47 минут авторского видеоконтента.
        li 56 часов монтажа.
        li 1000 зрителей.
        li Продюсер проекта — Егор Горшков.
        li Режиссер проекта — Вахтанг Вахтангишвили.
        li Менеджмент — Николай Михайлов и Дмитрий Жуков.
        
    // ONE ARTICLE TAGS
    .one-article__tags
      h3.one-article__tags-title Теги
      a.one-article__tag(href="#") # Селебрити
      a.one-article__tag(href="#") # Кейсы
      a.one-article__tag(href="#") # Организация мероприятий
      a.one-article__tag(href="#") # Поиск кадров
    .one-article__info
      span Интервью: Лина Москвина
      span Фотографии: Антон Самойлов
      
    // ONE ARTICLE SHARE
    .one-article__share
      h3.one-article__share-title Поделиться материалом в соцсетях:
      a.one-article__fb.btn(href="#")
        .item
        .item
        .item
        .item
        +icon('ico-fb')
      a.one-article__vk.btn(href="#")
        .item
        .item
        .item
        .item
        +icon('ico-vk')
      
    
  // ONE ARTICLE ANOTHER INTERVIEW
  section.articles-sec#weekly
    .container-fluid
      h2 Другие интервью
      .row
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src="img/weekly/1.png")
            .weekly__week__properties
              span.tag Тема
              span.data 30 октября
            a.weekly__week__content(href='post.html')
              h4 Провокация — прекрасная начинка для рекламной кампании
              p
                | На этапе разработки плана продвижения компании сроком на год или сезон от меня зависят стратегические решения
                | в области позиционирования и партнерства, которые в моих силах правильно преподнести генеральному руководству.
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src="img/weekly/2.png")
            .weekly__week__properties
              span.tag Событие
              span.data 27 октября
            a.weekly__week__content(href='post.html')
              h4 Хайп. Триггеры. Тотальная визуализация. А на что способна ваша площадка?
              p
                | При разработке креативной концепции проекта команда организаторов хотела уйти от привычных для DTM стандартных
                | конструкций и предложить клиенту что-то яркое, необыкновенное и надолго запоминающееся. На огромную, собранную
                | из множества линий крышу.
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src="img/weekly/3.png")
            .weekly__week__properties
              span.tag Интервью
              span.data 26 октября
            a.weekly__week__content(href='post.html')
              h4 «Мной всегда двигала жажда быть впереди»
              p
                | Приехав в Петербург в 2009, она продолжила постигать искусство преображения пространств и следовать курсу,
                | который выбрала еще в юности. Являясь сегодня соучредителем и арт-директором компании LABORATORY, одной
                | из лучших дизайн-студий, работающих в сегменте «премиум», наш герой придерживается внутренних правил.
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src="img/weekly/4.png")
            .weekly__week__properties
              span.tag Экспертный совет
              span.data 30 октября
            a.weekly__week__content(href='post.html')
              h4 Идеальное корпоративное событие, или как #успетьвсе?
              p
                | Краткосрочное планирование — это что-то наше очень национальное, как мне кажется. Сейчас ситуация становится
                | немного лучше, так как бизнес адаптировался под обновленные условия после кризиса, скорректировал задачи
                | и вошел в нормальный ритм.
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src="img/weekly/5.png")
            .weekly__week__properties
              span.tag Тема
              span.data 19 октября
            a.weekly__week__content(href='post.html')
              h4 MICE&more — журнал для русскоязычных MICE специалистов и о них самих
              p
                | Российский MICE рынок давно вышел за границы своей страны и добрался до самых экзотических и далеких точек
                | нашего земного шара. Задачей журнала MICE&more является помощь в развитии рынка, его профессиональном образовании
                | и совершенствовании. Наши читатели всегда будут в курсе актуальных событий.
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(js-lazy data-src="img/weekly/6.png")
            .weekly__week__properties
              span.tag Спецпредложения
              span.data 19 октября
            a.weekly__week__content(href='post.html')
              h4 MICE&more — журнал для русскоязычных MICE специалистов и о них самих
              p
                | Российский MICE рынок давно вышел за границы своей страны и добрался до самых экзотических и далеких точек
                | нашего земного шара. Задачей журнала MICE&more является помощь в развитии рынка, его профессиональном образовании
                | и совершенствовании. Наши читатели всегда будут в курсе актуальных событий.
      // PAGINATION/LOAD MORE
      .page-pagination
        a.page-pagination__more.btn(href="#") Загрузить еще
          .item
          .item
          .item
          .item
      
