---
title: HOME - TEAM
---
extends shared/_layout
block content
  
  section#weekly
    .container-fluid
      h2 Команда
      .row
        .col-lg-4.col-md-6
          .weekly__week
            a(href='post.html')
              .weekly__week__image(style="background-image: url('img/weekly/1.png')")
            .weekly__week__properties
              span.tag Тема
              span.data 30 октября
            a.weekly__week__content(href='post.html')
              h4 Провокация — прекрасная начинка для рекламной кампании
              p
                | На этапе разработки плана продвижения компании сроком на год или сезон от меня зависят стратегические решения
                | в области позиционирования и партнерства, которые в моих силах правильно преподнести генеральному руководству.
