---
title: TEAM MEMBER - MICE
bodyClass: team-page
---
extends shared/_layout
block content
  
  .breadcrumbs
    a.breadcrumbs__link.is-active(href="#") Главная
    a.breadcrumbs__link(href="#") Команда
  section.team-members
    .container-fluid
      h2 Команда журнала
      .one-member
        .one-member__wrapper
          a.one-member__prev(href="#") Валерия Семенович
          a.one-member__next(href="#") Ольга Поздняк
          .one-member__photo 
            img(src="img/reviews_slider/1.png")
            a.one-member__back-btn.btn(href="team.html")
              .item
              .item
              .item
              .item
              img(src="img/setting/close_partnership.svg")
          h3 Ицхак Пинтосевич
          p Чтобы усилить вовлеченность сотрудников и зарядить их энергией большого футбола, агентством было предложено и в последующем реализовано два ключевых решения. Турнир приобрел «лицо» в виде официального маскота — львенка Альфёнка. Все ключевые сообщения получили визуализацию, и таким образом турнир «Лига Альфа» вышел на новый уровень и стал суббрендом в корпоративной культуре «Альфа-Банка».
          p Агентство привнесло в турнир современные коммуникации: диджитал-активации, специально подготовленный видеоконтент, декорации, интерактивные зоны и даже детские локации — все они были сделаны и для игроков, и для членов их семей, которые приехали болеть за любимых.
          p Организовали прямую трансляцию гранд-финала на всю страну. Все, кто не смог лично присутствовать на стадионе, слушали прямой эфир интернет-радио. Это позволило стереть географические границы и окунуть более 6000 человек в единое футбольное движение.