---
title: TEAM MEMBER - MICE
bodyClass: team-page
---
extends shared/_layout
block content
  
  .breadcrumbs
    a.breadcrumbs__link.is-active(href="#") Главная
    a.breadcrumbs__link(href="#") Команда
  section.team-members
    .container-fluid
      h2 Команда журнала
    .one-member
      .one-member__photo 
        a.one-member__prev(href="#") Валерия Семенович
        img(src="img/reviews_slider/1.png")
        a.one-member__next(href="#") Ольга Поздняк