// FOOTER
footer
  margin: 125px 0 0
  .container-fluid
    padding: 0 50px
    margin: 0 auto
    max-width: 1680px
    .row
      position: relative
      // border-top: 3px solid
      padding: 52px 0 90px 0
      margin-left: -25px
      margin-right: -25px
      .col-lg-4
        padding-left: 25px
        padding-right: 25px
  .footer-bg-top
    display: inline-block
    content: ' '
    position: absolute
    top: 0
    left: 25px
    right: 25px
    height: 3px
    background: $fontColor
  hr
    border: none
    border-top: 3px solid #ededed
    margin: 44px 0 45px
  .mini__content
    margin: 20px 0 40px
    p
      font-family: "Intro"
      font-size: 15px
      margin: 0 0 11px
    a
      display: inline-block
      font-family: "Intro"
      font-weight: 800
      font-size: 20px
      transition: all .3s easeInOutQuad
      color: #231F20
      &:hover
        color: #8547AD !important
    &--phone
      a
        display: inline-block
        font-size: 30px
        margin-top: 3px
    &--mail
      a
        margin-bottom: 5px
    &--design
      a
        font-size: 15px
        margin-bottom: 5px

    &--street
      span
        display: inline-block
        margin-top: -2px
        line-height: 1.5

  .copiright
    font-size: 15px




+r($desktop)
  footer
    margin: 18px 0 73px 0
    .footer-bg-top
      left: 12px
      right: 12px
    .container-fluid
      padding: 0 25px
      .row
        padding: 24px 0
        margin-left: -12px
        margin-right: -12px
        .col-lg-4
          padding-left: 12px
          padding-right: 12px
          // &:nth-child(even)
          //   padding-left: 12px

    .col-md-12:last-child .mini__content
      display: inline-block
      width: 49%
      margin: 43px 0 0
      box-sizing: border-box
      &:nth-child(2)
        padding-left: 15px
    .mini__content
      margin-bottom: 45px
      &--licence
        margin-top: -10px
      &--street
        span
          font-size: 21px
          margin: 0 0 0
      &--design
        a
          font-size: 15px

    .copiright
      font-size: 15px

+r($mobile)
  footer
    margin-bottom: 60px
    .container-fluid
      padding: 0 15px
    .mini__content
      margin-bottom: 15px
      &--licence
        margin-bottom: 40px
      &--street
        span
          margin-bottom: 10px

    .col-md-12:last-child .mini__content
      width: 100%
      &:nth-child(2)
        margin-top: 25px
        padding-left: 0
    hr
      margin: 30px 0 25px 0
