div[js-lazy]
  background: #f5f5f5

.one-article__wrap
  img[js-lazy][data-src]
    background: #f5f5f5
    // 4:3
    // padding-bottom: 75%
    // 16:9
    padding-bottom: 56.25%
    border: 0

.one-member__photo
  img[js-lazy][data-src]
    padding-bottom: 43%
