/* TTF */
@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro-Book.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro-Regular.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro-Bold.ttf");
  font-weight: 800;
}

/* Oranienbaum */
@font-face {
  font-family: "Oranienbaum";
  src: url('../fonts/Oranienbaum-Regular.ttf');
}
