<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#8547AD">
  <title>MICE</title>
  <link rel="shortcut icon" href="img/mice_favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/grid.min.css">
  <link rel="stylesheet" href="css/slick.css">
</head>

<body>
  <div id="vue">
    <header>
      <div class="slider-header">
        <div class="menu">
          <div @click="toggleMenu" class="menu__control" :class="{ 'menu_focus': menuStatus }">
            <div class="menu__control__burger">
              <div class="menu__control__burger__item"></div>
              <div class="menu__control__burger__item"></div>
              <div class="menu__control__burger__item"></div>
            </div>
            <a class="menu__control__click">МЕНЮ</a>
          </div>
          <a href="#" class="menu__switch-lang">EN</a>

          <div class="menu__logo">
            <img src="img/setting/logo.svg" alt="">
          </div>
        </div>
        <div class="header_slider">
          <div class="slide">
            <div class="left">
              <video autoplay muted loop>
                <source src="video/with_audio.mkv" type="video/mkv">
                <source src="video/with_audio.mp4" type="video/mp4">
                <source src="video/with_audio.webm" type="vide/webm">
              </video>
              <div @click="openVideoHeader()" class="video__button btn">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                Посмотреть
              </div>
            </div>
            <div class="right">
              <h3>Маркетинг впечатлений, или как раскрасить серый event?</h3>
              <div class="hr"></div>
              <p>Любой event — это коммуникация, способ общения с аудиторией, который позволяет достучаться до каждого гостя.
                Коммуникация выступает одним из базовых инструментов, который мы используем.</p>
            </div>
          </div>
          <div class="slide">
            <div class="left">
              <div class="bg" style="background-image: url(img/1.jpg)">
                <a href="#" class="video__button btn">
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  Посмотреть
                </a>
                </div>
            </div>
            <div class="right">
              <h3>Event-индустрия — это фабрика эмоций</h3>
              <div class="hr"></div>
              <p>Пятьдесят лет на мировом рынке, множество профессиональных наград, признание коллег, публика, которая видела
                все, — бренд Oriflame по праву можно назвать одним из титанов индустрии специальных событий.</p>
            </div>
          </div>
          <div class="slide">
            <div class="left">
              <div class="bg" style="background-image: url(img/2.jpg)">
                <a href="#" class="video__button btn">
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  Посмотреть
                </a></div>
            </div>
            <div class="right">
              <h3>Провокация — прекрасная начинка для рекламной кампании</h3>
              <div class="hr"></div>
              <p>На этапе разработки плана продвижения компании сроком на год или сезон от меня зависят стратегические решения
                в области позиционирования и партнерства, которые в моих силах правильно преподнести генеральному руководству.</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="weekly">
      <div class="container-fluid">
        <h2>Материалы недели</h2>
        <div class="row">
          <div class="col-lg-4 col-md-6 ">
            <div class="weekly__week">

              <a href="#">
                <div class="weekly__week__image" style="background-image: url('img/weekly/1.png')"></div>
              </a>
              <div class="weekly__week__properties">
                <span class="tag">Тема</span>
                <span class="data">30 октября</span>
              </div>
              <a href="#" class="weekly__week__content">
                <h4>Провокация — прекрасная начинка для рекламной кампании</h4>
                <p>На этапе разработки плана продвижения компании сроком на год или сезон от меня зависят стратегические решения
                  в области позиционирования и партнерства, которые в моих силах правильно преподнести генеральному руководству.</p>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="weekly__week">

              <div class="weekly__week__image" style="background-image: url('img/weekly/2.png')"></div>
              <div class="weekly__week__properties">
                <span class="tag">Событие</span>
                <span class="data">27 октября</span>
              </div>
              <a href="#" class="weekly__week__content">
                <h4>Хайп. Триггеры. Тотальная визуализация. А на что способна ваша площадка?</h4>
                <p>При разработке креативной концепции проекта команда организаторов хотела уйти от привычных для DTM стандартных
                  конструкций и предложить клиенту что-то яркое, необыкновенное и надолго запоминающееся. На огромную, собранную
                  из множества линий крышу.</p>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="weekly__week">

              <div class="weekly__week__image" style="background-image: url('img/weekly/3.png')"></div>
              <div class="weekly__week__properties">
                <span class="tag">Интервью</span>
                <span class="data">26 октября</span>
              </div>
              <a href="#" class="weekly__week__content">
                <h4>&laquo;Мной всегда двигала жажда быть впереди&raquo;</h4>
                <p>Приехав в Петербург в 2009, она продолжила постигать искусство преображения пространств и следовать курсу,
                  который выбрала еще в юности. Являясь сегодня соучредителем и арт-директором компании LABORATORY, одной
                  из лучших дизайн-студий, работающих в сегменте «премиум», наш герой придерживается внутренних правил.</p>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="weekly__week">
              <div class="weekly__week__image" style="background-image: url('img/weekly/4.png')"></div>
              <div class="weekly__week__properties">
                <span class="tag">Экспертный совет</span>
                <span class="data">30 октября</span>
              </div>
              <a href="#" class="weekly__week__content">
                <h4>Идеальное корпоративное событие, или как #успетьвсе?</h4>
                <p>Краткосрочное планирование — это что-то наше очень национальное, как мне кажется. Сейчас ситуация становится
                  немного лучше, так как бизнес адаптировался под обновленные условия после кризиса, скорректировал задачи
                  и вошел в нормальный ритм.</p>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="weekly__week">
              <div class="weekly__week__image" style="background-image: url('img/weekly/5.png')"></div>
              <div class="weekly__week__properties">
                <span class="tag">Тема</span>
                <span class="data">19 октября</span>
              </div>
              <a href="#" class="weekly__week__content">
                <h4>MICE&more — журнал для русскоязычных MICE специалистов и о них самих</h4>
                <p>Российский MICE рынок давно вышел за границы своей страны и добрался до самых экзотических и далеких точек
                  нашего земного шара. Задачей журнала MICE&more является помощь в развитии рынка, его профессиональном образовании
                  и совершенствовании. Наши читатели всегда будут в курсе актуальных событий.</p>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="weekly__week">
              <div class="weekly__week__image" style="background-image: url('img/weekly/6.png')"></div>
              <div class="weekly__week__properties">
                <span class="tag">Спецпредложения</span>
                <span class="data">19 октября</span>
              </div>
              <a href="#" class="weekly__week__content">
                <h4>MICE&more — журнал для русскоязычных MICE специалистов и о них самих</h4>
                <p>Российский MICE рынок давно вышел за границы своей страны и добрался до самых экзотических и далеких точек
                  нашего земного шара. Задачей журнала MICE&more является помощь в развитии рынка, его профессиональном образовании
                  и совершенствовании. Наши читатели всегда будут в курсе актуальных событий.</p>
            </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- В next issue display: flex -->
    <section id="next_issue">
      <div class="next_issue__container container-fluid">
        <div class="col-lg-6">
          <img src="img/next_issue/image.png" alt="">
        </div>
        <div class="col-lg-6">
          <h5>Читайте в следующем номере</h5>
          <h2>№ 15</h2>
          <h2 class="next_issue__container__date">Ноябрь 2017</h2>
          <hr>
          <p class="next_issue__container__text">
            В ноябрьском номере MICE & more Ким Чен Ын избавляется от родственников, принц Чарльз надевает что угодно, только не корону,
            Алексей Учитель пытается поговорить с Натальей Поклонской, а Михаил Зыгарь приветствует революцию. Кроме того:
            первый русский мужчина в синхронном плавании, говорящий марсоход, 20 китайских школьников, избитых учителем,
            пятиминутный путеводитель по криптовалютам, ресторан «Ку-Ку» и Илья Найшуллер, заваривающий доширак.
          </p>
        </div>
      </div>
    </section>

    <section id="reviews">
      <h2>Отзывы о журнале</h2>
      <div class="reviews__slider">
        <div class="reviews_slide">
          <div class="left">
            <img src="img/reviews_slider/1.png" alt="">
            <div class="bg"></div>
          </div>
          <div class="right">
            <h4>Ицхак Пинтосевич</h4>
            <hr>
            <p>Любой event — это коммуникация, способ общения с аудиторией, который позволяет достучаться до каждого гостя.
              Коммуникация выступает одним из базовых инструментов, который мы используем.</p>
            <div class="social_link">
              <a href="" class="facebook">
                <svg width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path id="path0_fill" d="M 15.477 17.8L 18.077 17.8L 18.077 16.2C 18.077 13.85 19.827 11.95 21.977 11.95L 24.577 11.95L 24.577 15.15L 21.977 15.15C 21.677 15.15 21.327 15.6 21.327 16.15L 21.327 17.8L 24.577 17.8L 24.577 21.05L 21.327 21.05L 21.327 28.95L 18.077 28.95L 18.077 21.05L 15.477 21.05L 15.477 17.8ZM 20.027 38C 29.727 38 37.577 30.15 37.577 20.45C 37.577 10.75 29.727 2.85 20.027 2.85C 10.327 2.85 2.47695 10.75 2.47695 20.45C 2.47695 30.15 10.327 38 20.027 38Z"
                  />
                </svg>
              </a>
              <a href="" class="linkedin">
                <svg width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path id="path0_fill" d="M 15.0525 10.45C 16.1025 10.45 16.9525 11.35 16.9525 12.4C 16.9525 13.45 16.1025 14.3 15.0525 14.3C 14.0025 14.3 13.1525 13.45 13.1525 12.4C 13.1525 11.35 14.0025 10.45 15.0525 10.45ZM 18.1025 15.45L 21.2025 15.45L 21.2025 15.95C 22.4025 15.35 24.0525 15.45 25.2025 16.05C 26.4525 16.75 27.3025 18.25 27.3025 19.65L 27.3025 26.2L 24.2525 26.2L 24.2525 19.65C 24.2525 19.35 23.9525 18.85 23.7025 18.75C 22.5025 18.05 21.2025 19.3 21.2025 19.3L 21.2025 26.2L 18.1025 26.2L 18.1025 15.45ZM 16.6025 26.2L 13.5025 26.2L 13.5025 15.45L 16.6025 15.45L 16.6025 26.2ZM 20.0025 38C 29.7025 38 37.6025 30.1 37.6025 20.4C 37.6025 10.7 29.7025 2.85 20.0025 2.85C 10.3025 2.85 2.45254 10.7 2.45254 20.4C 2.45254 30.1 10.3025 38 20.0025 38Z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="reviews_slide">
          <div class="left">
            <img src="img/reviews_slider/2.png" alt="">
            <div class="bg"></div>
          </div>
          <div class="right">
            <h4>Антон Гроза</h4>
            <hr>
            <p>Держась в стороне от яркого света софитов, серый кардинал отечественной event-индустрии стоит за штурвалом самых
              знаковых и масштабных событий в нашей стране.</p>
            <div class="social_link">
              <a href="" class="facebook">
                <svg width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path id="path0_fill" d="M 15.477 17.8L 18.077 17.8L 18.077 16.2C 18.077 13.85 19.827 11.95 21.977 11.95L 24.577 11.95L 24.577 15.15L 21.977 15.15C 21.677 15.15 21.327 15.6 21.327 16.15L 21.327 17.8L 24.577 17.8L 24.577 21.05L 21.327 21.05L 21.327 28.95L 18.077 28.95L 18.077 21.05L 15.477 21.05L 15.477 17.8ZM 20.027 38C 29.727 38 37.577 30.15 37.577 20.45C 37.577 10.75 29.727 2.85 20.027 2.85C 10.327 2.85 2.47695 10.75 2.47695 20.45C 2.47695 30.15 10.327 38 20.027 38Z"
                  />
                </svg>
              </a>
              <a href="" class="linkedin">
                <svg width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path id="path0_fill" d="M 15.0525 10.45C 16.1025 10.45 16.9525 11.35 16.9525 12.4C 16.9525 13.45 16.1025 14.3 15.0525 14.3C 14.0025 14.3 13.1525 13.45 13.1525 12.4C 13.1525 11.35 14.0025 10.45 15.0525 10.45ZM 18.1025 15.45L 21.2025 15.45L 21.2025 15.95C 22.4025 15.35 24.0525 15.45 25.2025 16.05C 26.4525 16.75 27.3025 18.25 27.3025 19.65L 27.3025 26.2L 24.2525 26.2L 24.2525 19.65C 24.2525 19.35 23.9525 18.85 23.7025 18.75C 22.5025 18.05 21.2025 19.3 21.2025 19.3L 21.2025 26.2L 18.1025 26.2L 18.1025 15.45ZM 16.6025 26.2L 13.5025 26.2L 13.5025 15.45L 16.6025 15.45L 16.6025 26.2ZM 20.0025 38C 29.7025 38 37.6025 30.1 37.6025 20.4C 37.6025 10.7 29.7025 2.85 20.0025 2.85C 10.3025 2.85 2.45254 10.7 2.45254 20.4C 2.45254 30.1 10.3025 38 20.0025 38Z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="partners">
      <h2>Наши партнеры</h2>
      <div class="container-fluid">
        <div class="partners__row">
          <div class="partner__row__item">
            <img src="img/partners/1.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/2.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/3.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/4.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/5.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/6.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/7.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/8.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/9.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/10.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/11.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/12.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/13.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/14.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/15.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/16.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/17.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/18.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/19.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/20.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/21.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/22.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/23.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/24.png" alt="">
          </div>
          <div class="partner__row__item">
            <img src="img/partners/25.png" alt="">
          </div>
        </div>
      </div>
    </section>

    <section id="awards">
      <h2>Награды</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-sm-12 content">
            <div class="text">
              <hr>
              <p>Наша журнал регулярно участвует в международных профессиональных конкурсах и получает награды за достижения
                в различных сферах индустрии MICE. </p>
              <hr>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 ">
            <div class="awards__slider">
              <div class="carousel">
                <div class="slide">
                  <img src="img/awards/slider/1.png" alt="">
                </div>
                <div class="slide">
                  <img src="img/awards/slider/2.png" alt="">
                </div>
                <div class="slide">
                  <img src="img/awards/slider/3.png" alt="">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="partnership">
      <div class="partnership__container">
        <div class="left">
          <div class="view">
            <div :class="{ 'hidden': !left.thanks }">
              <div class="content" :class="{ 'hidden': left.hidden }">
                <h4>Сотрудничество</h4>
                <p>Журнал MICE&more приглашает к сотрудничеству всех специалистов и участников индустрии MICE во всем мире. Ваши пожелания и предложения
                    по сотрудничеству вы можете отправить на адрес editor@miceandmore.org или оставьте ваше имя и адрес электронной почты и мы вышлем вам медиа кит.</p>
                <button @click="left.hidden=!left.hidden">Запросить медиа-кит</button>
              </div>
              <div class="form" :class="{ 'hidden': !left.hidden }">
                  <div class="btn-close" @click="left.hidden=!left.hidden"><div class="item"></div><div class="item"></div></div>
                <form action="">
                  <div class="input-field">
                    <input type="text" v-model="left.name" :class="{ 'focus': left.name.length > 0, 'require': left.name=='Обязательное поле'  }">
                    <label for="">Имя</label>
                  </div>
                  <div class="input-field">
                    <input type="text" v-model="left.company" :class="{ 'focus': left.company.length > 0, 'require': left.company=='Обязательное поле'  }">
                    <label for="">Компания</label>
                  </div>
                  <div class="input-field">
                    <input type="text" v-model="left.email" :class="{ 'focus': left.email.length > 0, 'require': left.email=='Обязательное поле'  }">
                    <label for="" >email</label>
                  </div>
                  <button @click.prevent="sendLeft">Запросить медиа кит</button>
                </form>
              </div>
            </div>
              <div class="thanks" :class="{ 'hidden': left.thanks }">
                  <div class="btn-close" @click="left.thanks=!left.thanks"><div class="item"></div><div class="item"></div></div>
                  <h6>Форма отправлена! Благодарим за интерес
                      <br>к нашему журналу.
                      <br>В ближайшее время
                      <br>с вами свяжется наш менеджер.</h6>
              </div>
          </div>
        </div>


        <div class="right">
          <div class="view">
              <div :class="{ 'hidden': !right.thanks }">
              <div class="content" :class="{ 'hidden': right.hidden }">
                <h4>Подписка</h4>
                <p>Оформите подписку на журнал сегодня и получите постоянный доступ к самой актуальной подборке свежих новостей, интервью, экспертных статей и других материалов MICE-индустрии в России и за её пределами. <b>Журнал доставляется ежемесячно прямо
                    в ваш офис.</b></p>
                <div class="div">
                  <p>годовая подписка</p>
                  <span class="price">2500</span>
                  <div class="price_name">рублей</div>
                  <button @click="right.hidden=!right.hidden">Подписаться</button>
                </div>
              </div>
              <div class="form" :class="{ 'hidden': !right.hidden }">
                  <div class="btn-close" @click="right.hidden=!right.hidden"><div class="item"></div><div class="item"></div></div>
                  <form action="">
                    <div class="input-field">
                      <input type="text" v-model="right.name" :class="{ 'focus': right.name.length > 0, 'require': right.name=='Обязательное поле'  }">
                      <label for="">Имя</label>
                    </div>
                    <div class="input-field">
                      <input type="text" v-model="right.company" :class="{ 'focus': right.company.length > 0, 'require': right.company=='Обязательное поле'  }">
                      <label for="">Компания</label>
                    </div>
                    <div class="input-field">
                      <input type="text" v-model="right.email" :class="{ 'focus': right.email.length > 0, 'require': right.email=='Обязательное поле'  }">
                      <label for="">Email</label>
                    </div>
                    <div class="input-field">
                      <input type="text"  v-model="right.adress" :class="{ 'focus': right.adress.length > 0, 'require': right.adress=='Обязательное поле' }">
                      <label for="">Адрес</label>
                    </div>
                    <div class="input-field">

                      <div class="payment" @click="right.dropdown = !right.dropdown" :class="{ 'require': right.payment=='Обязательное поле' }">{{right.payment}} <div class="down" :class="{ 'rotate': right.dropdown }"><img src="img/setting/dropdown_arr_white.svg" alt=""></div></div>
                      <label class="dropdown_label" :class="{ 'dropdown_label_translate': right.dropdown, 'dropdown_label_translate_2': right.payment }">ФОРМА ОПЛАТЫ</label>
                      <div class="dropdown" :class="{ 'dropdown_open': right.dropdown }">
                        <span @click="right.payment = 'Безналичный расчет'">Безналичный расчет</span>
                        <span @click="right.payment = 'Банковская карта'">Банковская карта</span>
                      </div>
                    </div>
                    <button @click.prevent="sendRight">Подписаться</button>
                  </form>
              </div>
              </div>
              <div class="thanks" :class="{ 'hidden': right.thanks }">
                  <div class="btn-close" @click="right.thanks=!right.thanks"><div class="item"></div><div class="item"></div></div>
                <h6>Форма отправлена! Благодарим за интерес
                    <br>к нашему журналу.
                    <br>В ближайшее время
                    <br>с вами свяжется наш менеджер.</h6>
              </div>
          </div>
        </div>

      </div>
    </section>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="mini__content">
              <p class="footer__title">По всем вопросам обращаться по телефону</p>
              <a href="tel:8 (495) 649-86-37" class="footer__link phone">8 (495) 649-86-37</a>
            </div>
            <div class="mini__content">
              <p class="footer__title">Электронная почта</p>
              <a href="mailto:editor@miceandmore.org" class="footer__link">editor@miceandmore.org</a>
            </div>
            <div class="mini__content">
              <p class="footer__title">Facebook</p>
              <a href="#" class="footer__link">miceandmorerus</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="mini__content">
              <p class="footer__title">Физичиеский и юридический адрес</p>
              <span class="footer__link street">125 009, Москва,
                <br>Н. Кисловский пер. 7 стр. 1, офис 317</span>
            </div>
            <div class="mini__content">
              <p class="footer__title">Номер лицензии</p>
              <span class="footer__link"> № ПИ № ФС 77 – 62901</span>
            </div>

          </div>
          <div class="col-lg-4 col-md-12">
            <div class="mini__content">
              <p class="footer__title">Дизайн и печать журнала</p>
              <a href="#" class="footer__link design">Prime Time. Events. Design. Communications</a>
            </div>
            <div class="mini__content">
              <p class="footer__title">Создание сайта</p>
              <a href="#" class="footer__link design">GLYF</a>
            </div>
            <hr>
            <span class="copiright">© 2017 MICE&more</span>
          </div>
        </div>
      </div>
    </footer>





    <!-- POPUP -->

    <div class="preloader">
      <div class="loading">
        <span class="loader_name">Загрузка</span>
        <h2 class="percentage">
          <h2>
            <div class="status" v-model="loader"></div>
      </div>
      <div class="text">
        <h3>Издание №1 для российских MICE-специалистов</h3>
      </div>
    </div>


    <!-- VIDEO -->
    <transition name="video">
      <div @click="openVideoHeader()" v-if="videoStatus" v-bind:class="{ 'video-box__up': videoStatus }" class="video-box">
        <div class="video-box__close-button btn">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <img src="img/setting/video_close.svg" alt="">
        </div>
        <div class="video-box__content">
          <iframe width="100%" height="710" src="https://www.youtube.com/embed/dsE2d9Np82g?rel=0&amp;showinfo=0" frameborder="0" allow="encrypted-media"
            allowfullscreen></iframe>
        </div>
      </div>
    </transition>





    <!-- MENU -->

    <div :class="{ 'menu_acive': menuStatus }" class="menu-box">
      <div @click="toggleMenu" class="menu-box__close-button">
        <img src="img/setting/navi_close.svg" alt="">
      </div>
      <div class="menu-box__spoiler">
        <h3>Темы</h3>
        <div class="menu-box__spoiler__content">
          <a href="#">Темы недели</a>
          <a href="#">События</a>
          <a href="#">Интервью</a>
          <a href="#">Экспертный совет</a>
        </div>
      </div>
      <div class="menu-box__spoiler">
        <h3>Видео</h3>
      </div>
      <div class="menu-box__spoiler">
        <h3>Команда</h3>
      </div>
      <div class="menu-box__spoiler">
        <h3>Контакты</h3>
      </div>
    </div>








  </div>

  <script src="js/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
